<div class="footer-wrapper">
    <footer>
        <div class="footer-text">
            <nav class="footer-menu">
                <ul class="navigation-menu">
                    <li><a href="https://adalab.es/">articles</a></li>
                    <li><a href="https://adalab.es/">books</a></li>
                    <li><a href="https://adalab.es/">events</a></li>
                    <li><a href="https://adalab.es/">reasons</a href="https://adalab.es/"></li>
                    <li><a href="https://adalab.es/">tips</a href="https://adalab.es/"></li>
                </ul>
            </nav>

            <article>
                <nav class="footer-menu">
                    <ul class="contact-menu">
                        <li><a href="https://adalab.es/">twitter</a href="https://adalab.es/"></li>
                        <li><a href="https://adalab.es/">instagram</a href="https://adalab.es/"></li>
                        <li><a href="https://adalab.es/">mastodon.social</a href="https://adalab.es/"></li>
                    </ul>
                </nav>
            </article>
        </div>
        <div class="copyright-container">
        <div class="copyright">
            <small>&copy;2020</small>
            <small>we <span class="heart-emoji">&#9829</span> components</small>
        </div>
    </div>
    </footer>
</div>