<div class="purchase-wrapper">
    <section id="section-purchase">
        <h2 class="purchase-title purchase-primary-title">3 reasons to purchase</h2>
        <div class="section-text">
        <div class="reason-to-purchase">
        <h3 class="purchase-title purchase-secondary-title">ut sed metus</h3>
        <p class="purchase-text">lorem ipsum dolor sit amet, consectetur.</p>
        </div>
        <div class="reason-to-purchase">
        <h3 class="purchase-title purchase-secondary-title">curabitur ac erat</h3>
        <p class="purchase-text">mauris mattis urna quis lorem molestie.</p>
    </div>
        <div class="reason-to-purchase">
        <h3 class="purchase-title purchase-secondary-title">morbi dictum</h3>
        <p class="purchase-text">aliquam in dolor et dolor tincidunt.</p>
    </div>
        <a class="purchase-button" role="button">More reasons</a>
    <div class="scroll-up-container">
        <div class="scroll-up">
            <a role="button" href="#"><img src="../assets/images/ico-arrow.svg" title="Scroll down button" alt="Scroll down button"/></a>
        </div>
    </div>
    </div>
    </section>
</div>