@mixin font-title() {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}
@mixin font-text() {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
@mixin font-button() {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@mixin forTablet {
 @media all and (min-width: $tablet) { @content; }
}

@mixin forDesktop {
 @media all and (min-width: $desktop) { @content; }
}