.footer-wrapper {
    background-color: $color-tertiary;
    color: $color-light;
    @include font-text();
    padding: 45px;
    footer {
        display: flex;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
            @include forTablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
        }
    }
}

.navigation-menu {
    margin-top: 60px;
    @include forTablet {
        margin: 30px 0px;
    }
}

.contact-menu {
    margin: 30px 0px;
}
.navigation-menu ul li a, .contact-menu ul li a {
    text-decoration: none;
    color: $color-light;
    line-height: 1.88;
    padding: 5px;
    text-transform: uppercase;
    &:hover {
        color: $color-button;
    }
}
.copyright-container {
    margin-bottom: 45px;
    @include forTablet {
        margin: 30px 0px;
    }
}
.copyright {
    display: block;
}

.heart-emoji {
    color:$color-button;
}

@include forTablet {
    .footer-wrapper {
        padding: 45px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }
}

@include forDesktop {
    .footer-wrapper{
        justify-content: center;
    }
}