.hero-wrapper{
    background: url(../images/cover.jpg) no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.hero-wrapper section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-title {
    margin: 0px;
    color: $color-light;
    text-transform: uppercase;
    text-align: center;
    @include font-title();
}

.hero-text:first-letter  {
    text-transform: capitalize;
}

.hero-text {
    color: $color-light;
    @include font-text();
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: $color-light;
    background-position: center;
    border-radius: 30px;
}

.hero-button a {
    vertical-align: center;
}