/* COLORS */
$color-light: #ffffff;
$color-dark: #000000;
$color-button: #f26002;
$color-primary: #8ccbea;
$color-secondary: #0271bc;
$color-tertiary: #304268;
$color-background-section: #eff9ff;

@mixin font-title() {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}
@mixin font-text() {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
@mixin font-button() {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
/* IPATH */
/* $pathImages: ‘../images/‘;
$pathIcons: ’../Icons/; */


/* BREAKPOINTS */
$tablet:768px;
$pc:1200px;


/* MIXIN: */

@mixin forTablet {
 @media all and (min-width: $tablet) { @content; }
}

@mixin forPc {
 @media all and (min-width: $pc) { @content; }
}