.container {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

.header-wrapper {
    position: fixed;
}
.menu-icon a {
    display: block;
    height: 44px;
    width: 44px;
    background: url(../images/ico-menu.svg) no-repeat;
    background-color: $color-secondary;
    background-size: 40%;
    background-position: center;
}