.hero-wrapper{
    background: url(../images/cover.jpg) no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.hero-wrapper section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.hero-title {
    font-size: 2.625rem;
    margin: 0px;
    color: $color-light;
    text-transform: uppercase;
    text-align: center;
    @include font-title();
    line-height: 1.31;
    margin: 15px;
    width: 290px;
}

.hero-text:first-letter  {
    text-transform: capitalize;
}

.hero-text {
    color: $color-light;
    @include font-text();
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    background-color: $color-light;
    background-position: center;
    border-radius: 22.5px;
    margin-top: 50px;
    margin-bottom: 90px;
}

.hero-button a {
    vertical-align: center;
}

@include forTablet {
    .hero-title {
        font-size: 5rem;
        width: 690px;
    }
    .hero-text {
        font-size: 1.5rem;
    }
}

@include forDesktop {
    .hero-title {
        font-size: 6.25rem;
        width: 730px;
    }
}